/*
      Anthony Krivonos
      src/styles/theme.css
      09.13.2018
*/

:root {

      /* Standard Spacing */
      --spacing-increment: 8;
      --gutter-width: calc(var(--spacing-increment) * 1px);
      --half-gutter-width: calc((var(--spacing-increment) * 0.5px));
      --outer-margin: calc(var(--spacing-increment) * 2)px;
      --gutter-compensation: calc((var(--gutter-width) * 0.5) * -1);
      --container-sm: calc(var(--sm-min) + var(--gutter-width));
      --container-md: calc(var(--md-min) + var(--gutter-width));
      --container-lg: calc(var(--lg-min) + var(--gutter-width));

      /* Animatables */
      --transition-slow:      1s;
      --transition-standard:  0.5s;
      --transition-fast:      0.3s;

      /* Box Shadows */
      --shadow-none:    0 0 0 rgba(0,0,0,0), 0 0 0 rgba(0,0,0,0);
      --shadow-flat:    0 0 4px 1px rgba(0,0,0,0.04), 0 0 4px 1px rgba(0,0,0,0.04);
      --shadow-raised:  0 0 15px 1px rgba(0,0,0,0.12), 0 0 15px 1px rgba(0,0,0,0.12);
      --shadow-lifted:  0 0 30px 1px rgba(0,0,0,0.12), 0 0 30px 1px rgba(0,0,0,0.12);
}

body {
      font-family: Chivo !important;
      font-weight: lighter;
      overflow: hidden !important;
}
.navbar {
      z-index: 1;
      background: linear-gradient(white, rgba(0, 0, 0, 0));
}

/* Transition Classes */
.transition {
      transition: var(--transition-standard);
      -webkit-transition: var(--transition-standard);
}
.transition-slow {
      transition: var(--transition-slow);
      -webkit-transition: var(--transition-slow);
}
.transition-fast {
      transition: var(--transition-fast);
      -webkit-transition: var(--transition-fast);
}

/* Prevents User Selection of Element */
.unselectable {
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      cursor: default;
}

.text-transform-uppercase {
      text-transform: uppercase;
}

/* Custom Padding */
.padded-sm {
      padding: 8px !important;
}
.padded-sm-top {
      padding-top: 8px !important;
}
.padded-sm-right {
      padding-right: 8px !important;
}
.padded-sm-bottom {
      padding-bottom: 8px !important;
}
.padded-sm-left {
      padding-left: 8px !important;
}
.padded-md {
      padding: 16px !important;
}
.padded-md-top {
      padding-top: 16px !important;
}
.padded-md-right {
      padding-right: 16px !important;
}
.padded-md-bottom {
      padding-bottom: 16px !important;
}
.padded-md-left {
      padding-left: 16px !important;
}
.padded-lg {
      padding: 32px !important;
}
.padded-lg-top {
      padding-top: 32px !important;
}
.padded-lg-right {
      padding-right: 32px !important;
}
.padded-lg-bottom {
      padding-bottom: 32px !important;
}
.padded-lg-left {
      padding-left: 32px !important;
}

/* Custom Margin */
.margin-sm {
      margin: 8px !important;
}
.margin-sm-top {
      margin-top: 8px !important;
}
.margin-sm-right {
      margin-right: 8px !important;
}
.margin-sm-bottom {
      margin-bottom: 8px !important;
}
.margin-sm-left {
      margin-left: 8px !important;
}
.margin-md {
      margin: 16px !important;
}
.margin-md-top {
      margin-top: 16px !important;
}
.margin-md-right {
      margin-right: 16px !important;
}
.margin-md-bottom {
      margin-bottom: 16px !important;
}
.margin-md-left {
      margin-left: 16px !important;
}
.margin-lg {
      margin: 32px !important;
}
.margin-lg-top {
      margin-top: 32px !important;
}
.margin-lg-right {
      margin-right: 32px !important;
}
.margin-lg-bottom {
      margin-bottom: 32px !important;
}
.margin-lg-left {
      margin-left: 32px !important;
}

#fullpage {
      width: 100vw !important;
      height: 100vh !important;
      position: absolute !important;
      z-index: 0;
      top: 0 !important;
      right: 0 !important;
      bottom: 0 !important;
      left: 0 !important;
}

/* Container Styles */
.section {
      width: 100vw !important;
      height: 100vh !important;
      overflow: hidden !important;
}
.container {
      height: 100%;
      width: 100%;
      max-width: 100%;
      display: flex;
      align-items: center;
      margin: 0 !important;
      padding: 0 !important;
      overflow: hidden !important;
}
.col {
      padding: 0 !important;
}
.row {
      margin: 0 !important;
      padding: 0 !important;
      width: 100%;
      max-width: 100%;
}

/* Responsive Clickable Elements */
button, a, .chip {
      transition: var(--transition-standard);
}
button:hover, a:hover, .chip:hover {
      -ms-transform: scale(0.95);
      -webkit-transform: scale(0.95);
      transform: scale(0.95);
      cursor: hand;
      cursor: pointer;
}

/* Custom Separator Styling */
.separator-left, .separator-right {
      border-radius: 1px;
      vertical-align: middle;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
}
.separator-left {
      border-left: solid 2px lightgray;
      text-align: left;
}
.separator-right {
      border-right: solid 2px lightgray;
      text-align: right;
      margin-left: auto;
      justify-content: flex-end;
}

/* Custom Experience Group */
.experience-group {
      width: 100%;
      padding: 1vw;
}
.experience-group .experience-image {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 0%;
      height: 100% !important;
      border-radius: var(--half-gutter-width) !important;
      background-position: center !important;
      background-clip: padding-box !important;
      background-repeat: no-repeat !important;
      background-size: cover;
      transition: var(--transition-standard);
      -webkit-transition: var(--transition-standard);
}
.experience-group:hover .experience-image {
      opacity: 1;
      width: 15%;
}
.experience-group:hover .experience-text {
      width: 85%;
}
.experience-text {
      width: 100%;
      float: right;
      transition: var(--transition-standard);
      -webkit-transition: var(--transition-standard);
}
.experience-title {
      width: 70%;
      height: 4vh;
      float: left;
      text-align: left;
      font-weight: bold;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
}
.experience-year {
      width: 30%;
      height: 4vh;
      float: right;
      text-align: right;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
}
.experience-position {
      width: 100%;
      font-style: italic;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
}

/* Custom Carousel Elements */
.carousel-row {
      padding-top: 2vh;
      padding-bottom: 2vh;
}
.carousel-tile {
      border-radius: var(--half-gutter-width) !important;
      box-shadow: var(--shadow-flat);
      display: inline-block !important;
}
.carousel-tile:hover {
      box-shadow: var(--shadow-raised);
}
.carousel-image {
      width: 100%;
      height: 100%;
      background-position: top !important;
      background-repeat: no-repeat !important;
      background-size: cover !important;
      transition: 0.5s;
      filter: grayscale(100%);
      opacity: 0.4;
      border-radius: var(--half-gutter-width);
}
.carousel-tile:hover .carousel-image {
      border-radius: 0;
      border-top-left-radius: var(--half-gutter-width);
      border-top-right-radius: var(--half-gutter-width);
      height: calc(100% - 10vh);
      filter: grayscale(0%);
      opacity: 1;
}
.carousel-text {
      width: 100%;
      height: 0;
      padding: 0;
      opacity: 0;
      transition: var(--transition-standard);
      -webkit-transition: var(--transition-standard);
}
.carousel-tile:hover .carousel-text {
      height: 10vh;
      padding: var(--gutter-width);
      opacity: 1;
}
.carousel-title {
      width: 100%;
      float: left;
      font-weight: 500;
      overflow-x: auto;
}
.carousel-title .chip {
      width: auto !important;
      display: inline !important;
      background: lightgray;
      border-radius: 4px;
      font-weight: 400;
      font-size: 1.5vh;
      padding-left: 4px;
      padding-right: 4px;
      vertical-align: middle;
      font-weight: 200;
}
.carousel-subtitle {
      width: 30%;
      float: right;
      text-align: right;
      font-style: italic;
}
.carousel-body {
      width: 100%;
      float: left;
      display: block;
      font-size: 1.75vh;
}
.carousel-footer {
      width: 100%;
      float: left;
      display: block;
      text-align: center;
      margin-top: 4px;
      font-size: 8pt;
      color: gray;
}

/* Interactables Section Button */
.interactable-button {
      background: none;
      border: none;
      outline: none !important;
}
.interactable-button:hover {
      color: gray;
}
.interactable-frame {
      margin-left: 32px;
      width: 80%;
      height: 100%;
      background: gray;
}

/* Brag Card */
.brag-cards {
      padding: 4vw !important;
}
.brag-cards .col {
      padding: 2vw !important;
}
.brag-cards .card {
      width: 80%;
      margin-left: 10%;
      border-radius: var(--half-gutter-width) !important;
      border: none;
      transition: var(--transition-standard);
      -webkit-transition: var(--transition-standard);
      box-shadow: var(--shadow-flat);
}
.brag-cards .card:hover {
      border: none;
      box-shadow: var(--shadow-raised);
      transform: scale(1.1);
}

.chart {
      height: 60vh;
      width: 60vh;
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      transition: var(--transition-standard);
      -webkit-transition: var(--transition-standard);
      cursor: hand;
      cursor: pointer;
      filter: grayscale(60%);
}
.chart:hover {
      -webkit-transform: translateY(-50%) scale(0.9);
      transform: translateY(-50%) scale(0.9);
      filter: grayscale(0%);
}
.table-like {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
}

/* Console */
.console::before {
      width: 100%;
      height: 2vh;
}
.console {
      height: 75vh;
      margin-left: 12.5%;
      width: 75%;
      background: #1E2028;
      font-family: monospace;
      color: white;
      transition: var(--transition-standard);
      -webkit-transition: var(--transition-standard);
      border-radius: var(--half-gutter-width) !important;
      box-shadow: var(--shadow-flat);
      overflow-y: auto;
      overflow-x: hidden;
}
.console:hover {
      box-shadow: var(--shadow-raised);
      transform: scale(1.1);
}
.console .bar {
      height: 2vh;
      background: #FAFAFA;
      border-top-left-radius: var(--half-gutter-width) !important;
      border-top-right-radius: var(--half-gutter-width) !important;
}
.console ol {
      margin: 0;
      padding: 10px;
      padding-left: 40px;
}
.console li {
      margin-left: 0;
}
.console .comment {
      color: #40B444;
}
.console .mark {
      color: #DA2C38;
      background: none;
}
.console .mark:before {
      content: '/* SECTION: - ';
}
.console .mark:after {
      content: ' */';
}
.console .comment:before {
      content: '// ';
}
.console .prompt:before {
      content: '> ';
      color: #00A0BE;
}
.console .function {
      background: none;
      color: #00A0BE;
      border: none;
      margin: 0;
      padding: 0;
      outline: none;
      text-decoration: underline;
      text-decoration-color: gray;
}
.console .function:before {
      content: 'AK.';
      color: white;
}
.console .function:after {
      content: '();';
      color: white;
}
.console input {
      background: none;
      border: none;
      outline: none;
      color: white;
      float: right;
      width: calc(100% - 10px) !important;
}

/* Horizontal Scroll Collection */
.collection {

}
.collection * {
      display: inline-block !important;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
      height: 0px !important;
      width: 0px !important;
}
::-webkit-scrollbar-track {
}
::-webkit-scrollbar-thumb {
}

/* Font Sizes */
.font-size-lg {
      font-size: 4vh;
}
.font-size-md {
      font-size: 3.5vh;
}
.font-size-sm {
      font-size: 3vh;
}
.font-size-xs {
      font-size: 2.5vh;
}
.navbar-logo {
      height: 30px;
      margin-top: -5px;
}
.navbar {
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      right: 0;
}
.nav-item {
      text-align: center;
}

/* Hamburger */
.hamburger {
      padding: 0px !important;
      outline: none !important;
}
.hamburger-box {
      width: 30px;
      height: 30px
}
.hamburger-inner, .hamburger-inner:before, .hamburger-inner:after {
      width: 30px !important;
      padding: 0 !important;
      margin: 0 !important;
}

/* Section 0 Items */
#hiText {
      position: absolute;
      margin-top: -8vh !important;
}
#avatar {
      width: 0vh;
      height: 0vh;
      position: absolute;
      z-index: -1;
      bottom: 0;
      right: 0;
      transition: var(--transition-standard);
      -webkit-transition: var(--transition-standard);
}
#avatar.grow {
      width: 100vw;
      height: 100vw;
      max-width: 600px;
      max-height: 600px;
}

/* Responsive Styling */

/* Custom, iPhone Retina */
@media only screen and (min-width : 0px) {

}

/* Custom, iPhone Retina */
@media only screen and (min-width : 321px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 481px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 769px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 993px) {
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
